* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(rgb(97, 0, 109) , rgb(12, 0, 48));
    height: 100vh;
    position: relative;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color :black
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
      left : calc((100% - 750px) /2 );
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
      left : calc((100% - 970px) /2 );
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
      left : calc((100% - 1170px) /2 ); 
    }
  }
  

/* start header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100000;
    
    

    
}

header h1 {
    color : white;
    text-transform: uppercase;
    
}

header ul li {
    display: inline-block;
    margin-right: 20px;
    
}

header ul li a {
    color : white;
    padding: 10px 20px;
     
}

header ul li a:hover , .active {
    color : black;
    background-color: white;
    border-radius: 18px;
}







/* end header */

/* start landing page */

.main {
    position: relative;
    height: 100vh;
    width :100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient( to top , rgb(97, 0, 109) , transparent);
}

.main img {
    position: absolute;
    width :100%;
    height: 100vh;
    object-fit: cover;
}

#moon {
    mix-blend-mode: screen ;
    transform: translateY(80px);
}

.wellcome {
    color : white;
    font-size: 20px;
    text-transform: uppercase;
    transform: translateY(-140px);
    
    
}

.content {
    color : white;
    padding: 30px;

}

.content h2 {
    margin: 20px;
    font-size: 30px;
}

.content p {
    margin: 20px;
}


/* end landing page */